.itemCard {
  min-height: 300px;
}

.itemCardImageBlock {
  padding: 0;
  height: 225px;
  overflow: hidden;
}

.cardTitle {
  margin-bottom: 0;
}

.availabilityDot {
  height: 20px;
  margin-top: 5px;
}
